@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SSFProDisplay-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  border: none;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

p, h2 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container-max {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1204px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-block {
  margin-top: 12px;
  margin-bottom: 70px;
}

.head-line {
  background-color: #FED600;
  padding: 7px;
  font-size: 13px;
  font-weight: 600;
  box-sizing: border-box;
}
.head-line .contacts-block {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.head-line .contacts-block select {
  background-color: transparent;
  border: none;
}
.head-line .contacts-block .contacts {
  margin-left: 40px;
}
.head-line .contacts-block .contacts span:last-of-type {
  padding-left: 40px;
}
.head-line .contacts-block .collback-block {
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.head-line .contacts-block .collback-block a:last-of-type {
  margin-left: 36px;
}
.head-line .contacts-block .social-btn-header {
  margin-left: 36px;
}
.head-line .contacts-block .social-btn-header a,
.head-line .contacts-block .social-btn-header a:last-of-type {
  margin-left: 19px;
  display: inline-block;
  width: 18px;
  height: 15.5px;
}
.head-line .contacts-block .social-btn-header a.telegram,
.head-line .contacts-block .social-btn-header a:last-of-type.telegram {
  background-image: url(../img/telega.svg);
  background-repeat: no-repeat;
}
.head-line .contacts-block .social-btn-header a.skype,
.head-line .contacts-block .social-btn-header a:last-of-type.skype {
  background-image: url(../img/skype.svg);
  background-repeat: no-repeat;
}
.head-line .contacts-block .social-btn-header a.telephon,
.head-line .contacts-block .social-btn-header a:last-of-type.telephon {
  background-image: url(../img/telephon.svg);
  background-repeat: no-repeat;
}

button {
  background-repeat: no-repeat;
  background-color: transparent;
  font-weight: 600;
  border: none;
  font-size: 13px;
  border-radius: 4px;
  box-sizing: border-box;
}

.menu-block {
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}
.menu-block img {
  height: 100%;
}
.menu-block .logo {
  display: flex;
  font-size: 13px;
  font-style: italic;
  align-items: center;
}
.menu-block .logo p {
  margin-left: 16px;
  font-weight: 400;
}
.menu-block .logo p span {
  color: #D2001C;
}
.menu-block .search-bar {
  padding-top: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-block .search-bar .ssearch {
  position: relative;
}
.menu-block .search-bar .ssearch button {
  color: #D2001C;
  border: 2px solid #D2001C;
  padding: 9px 17px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.menu-block .search-bar .ssearch button:hover {
  color: #fff;
  background-color: #D2001C;
  transition: 0.2s ease;
}
.menu-block .search-bar .ssearch input {
  width: 521px;
  height: 47px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 16px;
  font-weight: 600;
}
.menu-block .img-yandex {
  padding: 5px 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}
.menu-block .login button {
  padding-left: 30px;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
  background-position-x: -6px;
  position: relative;
}
.menu-block .login button:hover {
  color: #D2001C;
}
.menu-block .cart button {
  padding: 9px 16px 9px 48px;
  color: #fff;
  background-color: #D2001C;
  background-image: url(../img/cart.svg);
  background-size: 15%;
  background-position-x: 15px;
  background-position-y: center;
}
.menu-block .cart button:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.menu-block .first-menu-bar ul a {
  font-weight: 400;
  position: relative;
}
.menu-block .first-menu-bar ul a::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 1px;
  background-color: #333;
  content: "";
  transition: width 0.4s ease-out;
  width: 0;
}
.menu-block .first-menu-bar ul a:hover::after {
  width: 100%;
}
.menu-block .row {
  width: 100%;
  height: 1px;
  background-color: #BDBDBD;
  margin: 22px 0;
}

.nav-main ul li > a {
  font-weight: 700;
}
.nav-main .menu-main > li {
  position: relative;
  padding-right: 15px;
  padding-bottom: 22px;
}
.nav-main .menu-main > li::after {
  content: " ";
  width: 10px;
  height: 100%;
  background-image: url(../img/menu.svg);
  color: #BDBDBD;
  position: absolute;
  right: 0;
  bottom: 10px;
  background-repeat: no-repeat;
  background-position-y: center;
}
.nav-main .menu-main > li:hover .submenu {
  display: flex;
}
.nav-main .menu-main > li:hover::after {
  transform: rotate(180deg);
}
.nav-main .submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #fff;
  padding: 0px 10px 10px;
  top: 68%;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
}
.nav-main .submenu li a {
  position: relative;
}
.nav-main .submenu li a::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 1px;
  background-color: #333;
  content: "";
  transition: width 0.4s ease-out;
  width: 0;
}
.nav-main .submenu li a:hover::after {
  width: 100%;
}

.col-motto {
  max-width: 520px;
  font-family: "SF Pro Text";
}
.col-motto .motto {
  font-size: 27px;
  font-weight: 400;
  max-width: 365px;
  line-height: 32px;
  padding-right: 155px;
  padding-bottom: 40px;
}
.col-motto .terms {
  max-width: 255px;
  color: #C4C4C4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
.col-motto button {
  padding: 12px 70px;
  background-color: #D2001C;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #D2001C;
}
.col-motto button:hover {
  background-color: #fff;
  color: #D2001C;
  transition: 0.2s ease;
}

.col-about {
  max-width: 708px;
}
.col-about p {
  font-size: 16px;
  font-weight: 500;
  color: #4D4D4D;
  margin-bottom: 25px;
  font-family: "SF Pro Text";
}
.col-about p a {
  color: #D2001C;
  text-decoration: underline;
}

.our-team img {
  margin-bottom: 55px;
  width: 100%;
}

.one-see {
  margin-top: 70px;
}
.one-see ul li {
  position: relative;
  padding-right: 21px;
}
.one-see ul li::after {
  content: " ";
  background-image: url(../img/arrow2.svg);
  width: 6px;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  background-position-y: center;
}
.one-see ul li:hover::after {
  background-image: url(../img/arrow-red.svg);
}
.one-see ul li a {
  color: #4D4D4D;
  border-bottom: 1px solid #4D4D4D;
  font-size: 16px;
  font-family: "SF Pro Text";
}
.one-see ul li a:hover {
  color: #D2001C;
  border-color: #D2001C;
}

.block-see {
  font-family: "SF Pro Text";
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.block-see h2 {
  font-size: 24px;
  font-weight: 500;
  color: #222;
  padding-right: 22px;
}
.block-see span {
  width: 100%;
  height: 1px;
  background-color: #000;
  max-width: 916px;
  opacity: 0.1;
}

.video {
  height: 150px;
  margin-top: 70px;
  padding: 70px 0;
  background-color: #F9F9F9;
  font-family: "SF Pro Text";
}
.video h2 {
  font-size: 36px;
  font-weight: 400;
  color: #222;
}