@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  border: none;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.container-max {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1234px;
  margin: 0 auto;
}

.header-block {
  margin-top: 12px;
  margin-bottom: 70px;
}

.head-line {
  background-color: #FED600;
  padding: 7px;
  font-size: 13px;
  font-weight: 600;
  box-sizing: border-box;
}
.head-line .contacts-block {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.head-line .contacts-block select {
  background-color: transparent;
  border: none;
}
.head-line .contacts-block .contacts {
  margin-left: 40px;
}
.head-line .contacts-block .contacts span:last-of-type {
  padding-left: 40px;
}
.head-line .contacts-block .collback-block {
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.head-line .contacts-block .collback-block a:last-of-type {
  margin-left: 36px;
}
.head-line .contacts-block .social-btn-header {
  margin-left: 36px;
}
.head-line .contacts-block .social-btn-header a,
.head-line .contacts-block .social-btn-header a:last-of-type {
  margin-left: 19px;
  display: inline-block;
  width: 18px;
  height: 15.5px;
}
.head-line .contacts-block .social-btn-header a.telegram,
.head-line .contacts-block .social-btn-header a:last-of-type.telegram {
  background-image: url(../img/telega.svg);
  background-repeat: no-repeat;
}
.head-line .contacts-block .social-btn-header a.skype,
.head-line .contacts-block .social-btn-header a:last-of-type.skype {
  background-image: url(../img/skype.svg);
  background-repeat: no-repeat;
}
.head-line .contacts-block .social-btn-header a.telephon,
.head-line .contacts-block .social-btn-header a:last-of-type.telephon {
  background-image: url(../img/telephon.svg);
  background-repeat: no-repeat;
}

button {
  background-repeat: no-repeat;
  background-color: transparent;
  font-weight: 600;
  border: none;
  font-size: 13px;
  border-radius: 4px;
  box-sizing: border-box;
}

.menu-block {
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
}
.menu-block img {
  height: 100%;
}
.menu-block .logo {
  display: flex;
  font-size: 13px;
  font-style: italic;
}
.menu-block .logo p {
  margin-left: 16px;
  font-weight: 400;
}
.menu-block .logo p span {
  color: #D2001C;
}
.menu-block .search-bar {
  padding-top: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-block .search-bar .ssearch {
  position: relative;
}
.menu-block .search-bar .ssearch button {
  color: #D2001C;
  border: 2px solid #D2001C;
  padding: 9px 17px;
  position: absolute;
  right: 4px;
  top: 4px;
}
.menu-block .search-bar .ssearch button:hover {
  color: #fff;
  background-color: #D2001C;
  transition: 0.2s ease;
}
.menu-block .search-bar .ssearch input {
  width: 521px;
  height: 47px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 16px;
  font-weight: 600;
}
.menu-block .img-yandex {
  padding: 5px 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}
.menu-block .login button {
  padding-left: 30px;
  background-image: url(../img/login.svg);
  background-repeat: no-repeat;
  background-position-x: -6px;
}
.menu-block .cart button {
  padding: 9px 16px 9px 48px;
  color: #fff;
  background-color: #D2001C;
  background-image: url(../img/cart.svg);
  background-size: 15%;
  background-position-x: 15px;
  background-position-y: center;
}
.menu-block .first-menu-bar ul a {
  font-weight: 400;
  position: relative;
}
.menu-block .first-menu-bar ul a::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  bottom: 0;
  height: 1px;
  background-color: #333;
  content: "";
  transition: width 0.4s ease-out;
  width: 0;
}
.menu-block .first-menu-bar ul a:hover::after {
  width: 100%;
}
.menu-block .row {
  width: 100%;
  height: 1px;
  background-color: #BDBDBD;
  margin: 22px 0;
}
.menu-block .nav-main ul li > a {
  font-weight: 700;
}