@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SSFProDisplay-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Text';
    src:url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

$font-main: 13px;
$font-content: 'SF Pro Text';

body,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: $font-main;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        border: none;
    }
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

p, h2{
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

.row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.container-max {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1204px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-block {
    margin-top: 12px;
    margin-bottom: 70px;
}

// top line

.head-line {
    background-color: #FED600;
    padding: 7px;
    font-size: $font-main;
    font-weight: 600;
    box-sizing: border-box;

    .contacts-block {
        position: relative;

        select {
            background-color: transparent;
            border: none;
        }

        .contacts {
            margin-left: 40px;

            span:last-of-type {
                padding-left: 40px;
            }
        }

        .collback-block {
            position: absolute;
            right: 0;

            a:last-of-type {
                margin-left: 36px;
            }
        }

        .social-btn-header {
            margin-left: 36px;

            a,
            a:last-of-type {
                margin-left: 19px;
                display: inline-block;
                width: 18px;
                height: 15.5px;

                &.telegram {
                    background-image: url(../img/telega.svg);
                    background-repeat: no-repeat;
                }

                &.skype {
                    background-image: url(../img/skype.svg);
                    background-repeat: no-repeat;
                }

                &.telephon {
                    background-image: url(../img/telephon.svg);
                    background-repeat: no-repeat;
                }
            }

        }
    }
}

button {
    background-repeat: no-repeat;
    background-color: transparent;
    font-weight: 600;
    border: none;
    font-size: $font-main;
    border-radius: 4px;
    box-sizing: border-box;
}

// header menu block
.menu-block {
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);

    img {
        height: 100%;
    }

    .logo {
        display: flex;
        font-size: $font-main;
        font-style: italic;
        align-items: center;

        p {
            margin-left: 16px;
            font-weight: 400;

            span {
                color: #D2001C;

            }
        }
    }

    .search-bar {
        padding-top: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        .ssearch {
            position: relative;

            button {
                color: #D2001C;
                border: 2px solid #D2001C;
                padding: 9px 17px;
                position: absolute;
                right: 4px;
                top: 4px;
                background-color: #fff;


                &:hover {
                    color: #fff;
                    background-color: #D2001C;
                    transition: .2s ease;
                }
            }

            input {
                width: 521px;
                height: 47px;
                border: 1px solid #BDBDBD;
                border-radius: 4px;
                box-sizing: border-box;
                padding-left: 16px;
                font-weight: 600;
            }
        }
    }

    .img-yandex {
        padding: 5px 12px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
    }

    .login {
        button {
            padding-left: 30px;
            background-image: url(../img/login.svg);
            background-repeat: no-repeat;
            background-position-x: -6px;
            position: relative;

            &:hover {
                color: #D2001C;
            }
    
        }
    }

    .cart {
        button {
            padding: 9px 16px 9px 48px;
            color: #fff;
            background-color: #D2001C;
            background-image: url(../img/cart.svg);
            background-size: 15%;
            background-position-x: 15px;
            background-position-y: center;

            &:hover {
                box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
            }
        }
    }

    .first-menu-bar ul a {
        font-weight: 400;
        position: relative;

        &::after {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            bottom: 0;
            height: 1px;
            background-color: #333;
            content: "";
            transition: width 0.4s ease-out;
            width: 0;
        }


        &:hover::after {
            width: 100%;
        }


    }

    .row {
        width: 100%;
        height: 1px;
        background-color: #BDBDBD;
        margin: 22px 0;
    }
}

// main menu

.nav-main {


    ul li>a {
        font-weight: 700;
    }

    .menu-main>li {
        position: relative;
        padding-right: 15px;
        padding-bottom: 22px;

        &::after {
            content: " ";
            width: 10px;
            height: 100%;
            background-image: url(../img/menu.svg);
            color: #BDBDBD;
            position: absolute;
            right: 0;
            bottom: 10px;
            background-repeat: no-repeat;
            background-position-y: center;
        }

        &:hover .submenu {
            display: flex;
        }

        &:hover::after {
            transform: rotate(180deg);
        }


    }

    .submenu {
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: #fff;
        padding: 0px 10px 10px;
        top: 68%;
        left: 0;
        width: 100%;
        z-index: 10;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);

        li a {
            position: relative;
            
            &::after {
                content: " ";
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                bottom: 0;
                height: 1px;
                background-color: #333;
                content: "";
                transition: width 0.4s ease-out;
                width: 0;
            }
    
    
            &:hover::after {
                width: 100%;
            }
        }

    }
}

// block about

.col-motto {
    max-width: 495px;
    font-family: $font-content;
    width: 100%;

    .motto {
        font-size: 27px;
        font-weight: 400;
        max-width: 365px;
        line-height: 32px;
        padding-right: 155px;
        padding-bottom: 40px;
    }

    .terms {
        max-width: 255px;
        color: #C4C4C4;
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
    }
    button {
        padding: 12px 70px;
        background-color: #D2001C;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 2px solid #D2001C;

        &:hover {
            background-color: #fff;
            color: #D2001C;
            transition: .2s ease;
        }
    }
}

.col-about {
    max-width: 708px;
    width: 100%;
     p {
         font-size: 16px;
         font-weight: 500;
         color: #4D4D4D;
         margin-bottom: 25px;
         font-family: $font-content;

         a {
             color: #D2001C;
             text-decoration: underline;
         }
     }
}

.our-team img{
    margin-bottom: 55px;
    width: 100%;
}

//Лучше один раз увидеть
.one-see {
    margin-top: 70px;

    ul li {
        position: relative;
        padding-right: 21px;

        &::after {
            content: " ";
            background-image: url(../img/arrow2.svg);
            width: 6px;
            height: 100%;
            background-repeat: no-repeat;
            position: absolute;
            right: 0;
            background-position-y: center;
        }

        &:hover::after {
            background-image: url(../img/arrow-red.svg);
        }

        a {
            color: #4D4D4D;
            border-bottom: 1px solid #4D4D4D;
            font-size: 16px;
            font-family: $font-content;
            
            &:hover {
                color: #D2001C;
                border-color: #D2001C;
            }

        }

    }

}
.block-see {
    font-family: $font-content;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    h2 {
        font-size: 24px;
        font-weight: 500;
        color: #222;
        padding-right: 22px;
    }
    span {
        width: 100%;
        height: 1px;
        background-color: #000;
        max-width: 916px;
        opacity: 0.1;
    }
}

.video {
    height: 150px;
    margin-top: 70px;
    padding: 70px 0;
    background-color: #F9F9F9;
    font-family: $font-content;

    h2 {
        font-size: 36px;
        font-weight: 400;
        color: #222;
    }
}