@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$font-main: 13px;

body,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: $font-main;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        border: none;
    }
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.container-max {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1234px;
    margin: 0 auto;
}

.header-block {
    margin-top: 12px;
    margin-bottom: 70px;
}

.head-line {
    background-color: #FED600;
    padding: 7px;
    font-size: $font-main;
    font-weight: 600;
    box-sizing: border-box;

    .contacts-block {
        display: flex;
        position: relative;
        flex-wrap: wrap;

        select {
            background-color: transparent;
            border: none;
        }

        .contacts {
            margin-left: 40px;

            span:last-of-type {
                padding-left: 40px;
            }
        }

        .collback-block {
            position: absolute;
            right: 0;
            display: flex;
            flex-wrap: wrap;

            a:last-of-type {
                margin-left: 36px;
            }
        }

        .social-btn-header {
            margin-left: 36px;

            a,
            a:last-of-type {
                margin-left: 19px;
                display: inline-block;
                width: 18px;
                height: 15.5px;

                &.telegram {
                    background-image: url(../img/telega.svg);
                    background-repeat: no-repeat;
                }

                &.skype {
                    background-image: url(../img/skype.svg);
                    background-repeat: no-repeat;
                }

                &.telephon {
                    background-image: url(../img/telephon.svg);
                    background-repeat: no-repeat;
                }
            }

        }
    }
}

button {
    background-repeat: no-repeat;
    background-color: transparent;
    font-weight: 600;
    border: none;
    font-size: $font-main;
    border-radius: 4px;
    box-sizing: border-box;
}

.menu-block {
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);

    img {
        height: 100%;
    }

    .logo {
        display: flex;
        font-size: $font-main;
        font-style: italic;

        p {
            margin-left: 16px;
            font-weight: 400;

            span {
                color: #D2001C;

            }
        }
    }

    .search-bar {
        padding-top: 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        .ssearch {
            position: relative;

            button {
                color: #D2001C;
                border: 2px solid #D2001C;
                padding: 9px 17px;
                position: absolute;
                right: 4px;
                top: 4px;


                &:hover {
                    color: #fff;
                    background-color: #D2001C;
                    transition: .2s ease;
                }
            }

            input {
                width: 521px;
                height: 47px;
                border: 1px solid #BDBDBD;
                border-radius: 4px;
                box-sizing: border-box;
                padding-left: 16px;
                font-weight: 600;
            }
        }
    }

    .img-yandex {
        padding: 5px 12px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
    }

    .login {
        button {
            padding-left: 30px;
            background-image: url(../img/login.svg);
            background-repeat: no-repeat;
            background-position-x: -6px;
        }
    }

    .cart {
        button {
            padding: 9px 16px 9px 48px;
            color: #fff;
            background-color: #D2001C;
            background-image: url(../img/cart.svg);
            background-size: 15%;
            background-position-x: 15px;
            background-position-y: center;
        }
    }

    .first-menu-bar ul a {
            font-weight: 400;
            position: relative;

            &::after {
                content: " ";
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                bottom: 0;
                height: 1px;
                background-color: #333;
                content: "";
                transition: width 0.4s ease-out;
                width: 0;}


            &:hover::after {
                width: 100%;
            }


    }

    .row {
        width: 100%;
        height: 1px;
        background-color: #BDBDBD;
        margin: 22px 0;
    }

    .nav-main ul li>a {
        font-weight: 700;
    }
}